### Ansible ###
*.retry

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box

.DS_Store

*.key.pub

*.qcow2

*.vdi

.rocky9.hdd/

*.iso

*.hdd

*.pvm